SITES_PATH="$HOME/Sites"
DATABASE_CMD="mysql -h127.0.0.1 -uroot"

VALET_DOMAIN="test"
SS4_PHPV="8.0"
SS3_PHPV="7.3"

SS_DATABASE_SERVER="127.0.0.1"
SS_DATABASE_USERNAME="root"
SS_DATABASE_PASSWORD=""

SS_DEFAULT_ADMIN_USERNAME="admin"
SS_DEFAULT_ADMIN_PASSWORD="password"

OPEN_IN_EDITOR_CMD="code ."